@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Saira+Stencil+One:regular&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #171616;
  display: flex;
  flex-direction: column;
}

.no-scroll {
  overflow-y: hidden;
}

.main {
  flex-grow: 1;
}
.main.bg-color {
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.6);
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Saira Stencil One", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: black;
}
.logo__m {
  color: #2D4872;
}
.logo__p {
  color: #6CAC3D;
}

.title {
  font-size: clamp(32px, 5vw, 42px);
  font-weight: bold;
  text-align: center;
}

.button {
  width: 188px;
  height: 48px;
  padding: 10px 5px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  background-color: #6CAC3D;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #558433;
}
.button__white {
  color: #6CAC3D;
  font-size: 16px;
  height: 45px;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #6CAC3D;
}
.button__white:hover {
  background-color: #eff2ee;
}

.header {
  margin-bottom: 30px;
}
.header__top {
  max-height: 90px;
  padding: 23px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #6CAC3D;
}
.header__logo {
  margin-right: 20px;
}
.header__menu {
  max-width: 595px;
  width: 100%;
}
.header__list {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin: 0 auto;
}
.header__link {
  font-family: Roboto;
  font-size: 16px;
  color: #171616;
  position: relative;
}
.header__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: transparent;
  bottom: -2px;
  left: 0;
  transition: background-color 0.3s;
}
.header__link:hover::after {
  background-color: #171616;
}
.header__socials {
  display: none;
}
.header__call {
  min-width: 181px;
  font-family: Roboto;
  color: #171616;
  position: relative;
  margin-left: 20px;
}
.header__call::before {
  content: url(../img/icons/call-black.svg);
  position: absolute;
  scale: 1;
  left: 0;
  transition: scale 0.3s;
}
.header__call:hover::before {
  scale: 1.3;
}
.header__phone {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #171616;
  padding-left: 20px;
}
.header__timing {
  margin-top: 5px;
}
.header__button {
  min-width: 160px;
  width: 173px;
  margin-left: 30px;
}
.header__body {
  display: none;
}
.header__filter {
  max-height: 90px;
  padding: 23px 0;
  font-size: 16px;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-bottom: 1px solid #6CAC3D;
}
.header__filter-block {
  position: relative;
}
.header__filter-title {
  line-height: 1.3;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  transition: color 0.3s;
}
.header__filter-title:hover {
  color: #558433;
}
.header__filter-title_icon::after {
  content: url("../img/icons/arrow.svg");
  position: absolute;
  margin-left: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.header__filter-title_icon.open::after {
  top: 2px;
  transform: rotate(180deg);
}
.header__filter-items {
  min-width: 195px;
  position: absolute;
  top: 50px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(190, 190, 190, 0.7);
  font-weight: 400;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: max-height 0.3s, opacity 0.3s;
}
.header__filter-items.open {
  padding: 15px;
  max-height: 600px;
  pointer-events: auto;
  opacity: 1;
  z-index: 1;
}
.header__filter-item {
  width: 100%;
  height: 45px;
  border: 1px solid transparent;
  transition: border-color 0.3s;
  border-radius: 3px;
}
.header__filter-item:hover {
  border-color: #6CAC3D;
}
.header__filter-item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 20px;
}
.header__mobile-btn, .header__mobile-menu, .header__social, .header__call-btn {
  display: none;
}

.calculator {
  position: relative;
  margin-bottom: 75px;
}
.calculator::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: -1;
}
.calculator__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}
.calculator__wrapper {
  display: flex;
  justify-content: space-between;
}
.calculator__content {
  flex: 0 1 50%;
}
.calculator__content-title {
  font-weight: 700;
  letter-spacing: 0;
  font-size: clamp(34px, 5vw, 60px);
  padding-top: 30px;
  margin-bottom: 30px;
}
.calculator__content-text {
  font-weight: 700;
  font-size: clamp(30px, 4vw, 44px);
  margin-bottom: 65px;
}
.calculator__content-text span {
  position: relative;
  border-radius: 10px;
  font-size: clamp(52px, 5vw, 60px);
  background-color: #6CAC3D;
  color: #fff;
  padding: 0 10px;
}
.calculator__items {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.calculator__item {
  flex: 1 1 45%;
  font-size: 18px;
  font-weight: 700;
}
.calculator__icon {
  display: inline-block;
  position: relative;
  z-index: 0;
}
.calculator__icon::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6CAC3D;
  z-index: -1;
}
.calculator__icon_tr::after {
  top: 0;
  right: 0;
}
.calculator__icon_br::after {
  right: 20px;
  bottom: 0;
}
.calculator__icon-b::after {
  right: 20px;
  bottom: 0;
}
.calculator__icon_bl::after {
  right: 10px;
  bottom: 10px;
}
.calculator__item-text {
  margin-top: 15px;
}
.calculator__form {
  flex: 0 1 460px;
  padding: 40px 55px;
  background-color: #fff;
  opacity: 1;
  border-radius: 7px;
  margin-bottom: 25px;
  color: #595959;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.calculator__form-title {
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.calculator__form-items {
  display: grid;
}
.calculator__form-item {
  width: 100%;
  padding: 20px 0;
}
.calculator__form-item:not(:last-child) {
  border-bottom: 2px solid #F2F2F2;
}
.calculator__form-subtitle {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 20px;
}
.calculator__form-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.calculator__form-link {
  width: 50%;
}
.calculator__form-link_room {
  width: 50px;
}
.calculator__form-label {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}
.calculator__form-label span {
  display: inline-block;
}
.calculator__form-input {
  position: relative;
  margin-right: 5px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #F2F2F2;
  transition: border-color 0.3s;
  border: 2px solid #C4C4C4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: bottom;
  cursor: pointer;
}
.calculator__form-input::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2D4872;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}
.calculator__form-input:checked {
  border-color: #2D4872;
}
.calculator__form-input:checked::after {
  transform: translate(-50%, -50%) scale(1);
}
.calculator__form-input:checked + span {
  color: #2D4872;
}
.calculator__form-wrap {
  display: flex;
}
.calculator__form-range {
  flex: 1 1 100%;
  margin-right: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
}
.calculator__form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #2D4872;
  margin-top: -10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.calculator__form-range::-moz-range-thumb {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #2D4872;
  margin-top: -10px;
  -moz-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.calculator__form-range::-webkit-slider-runnable-track {
  box-sizing: border-box;
  height: 6px;
  background-color: #2D4872;
  border-radius: 3px;
}
.calculator__form-range::-moz-range-track {
  box-sizing: border-box;
  height: 6px;
  background-color: #2D4872;
  border-radius: 3px;
}
.calculator__form-range::-moz-range-progress {
  height: 6px;
  border-radius: 3px;
  background-color: #2D4872;
}
.calculator__form-range::-webkit-slider-runnable-progress {
  height: 6px;
  border-radius: 3px;
  background-color: #2D4872;
}
.calculator__form-output {
  font-weight: 700;
}
.calculator__form-content {
  position: relative;
  margin: 0 -55px 20px;
  padding: 20px 55px;
  background-color: #F2F2F2;
  opacity: 1;
  color: #2D4872;
  display: flex;
  justify-content: space-between;
}
.calculator__form-text {
  font-size: 16px;
}
.calculator__form-text span {
  font-weight: 700;
  font-size: 18px;
}
.calculator__form-box {
  display: flex;
  align-items: center;
}
.calculator__form-tel {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-width: 203px;
  width: 100%;
  height: 40px;
  padding: 12px 12px;
  border: 1px solid #F2F2F2;
}
.calculator__form-btn {
  max-width: 133px;
  width: 100%;
  margin-left: 15px;
}

.price__title {
  margin-bottom: 45px;
}
.price__inner {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 40px;
}
.price__card {
  flex: 1 0 283px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 15px 25px 35px;
  margin: 4px 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.price__card-top {
  display: flex;
  align-items: center;
  background-color: #E3EAEF;
  padding: 15px 25px 15px;
  margin: -15px -25px 0;
}
.price__card-img {
  margin-right: 10px;
}
.price__card-name {
  text-transform: uppercase;
  font-weight: 700;
  color: #6CAC3D;
  font-size: 18px;
  margin-bottom: 3px;
}
.price__card-time {
  font-weight: 700;
}
.price__card-text {
  flex: 1 1 auto;
  font-weight: 300;
  padding: 25px;
  margin: 0 -25px auto;
  border-bottom: 2px solid #2D4872;
}
.price__card-box {
  height: 200px;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}
.price__card-box::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
.price__card-box::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: darkgray;
  -webkit-box-shadow: 0 0 1px white;
}
.price__card-list {
  position: absolute;
  top: 0;
  height: 100%;
  margin-bottom: 10px;
}
.price__card-stage {
  font-weight: 700;
  margin: 15px 0 10px;
}
.price__card-type {
  line-height: 1.4;
  padding-left: 15px;
  position: relative;
}
.price__card-type::before {
  content: url("../img/icons/vector-dark.svg");
  position: absolute;
  left: 0;
}
.price__card-checklist {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 7px;
}
.price__card-checklist::after {
  content: url("../img/icons/vector-list.svg");
  position: absolute;
  right: 42px;
}
.price__card-value {
  margin-bottom: 20px;
}
.price__card-value span {
  font-weight: 700;
  color: #6CAC3D;
  font-size: 16px;
}
.price__card-btn {
  margin: 0 auto;
}

.example {
  background-color: #f8f8f8;
  padding: 60px 0 60px;
}
.example__title {
  margin-bottom: 70px;
}
.example__type {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 35px;
}
.example__type-btn {
  width: 100%;
  background-color: #e6e6e6;
  color: #595959;
  font-size: 16px;
}
.example__type-btn.active {
  background-color: #2D4872;
  color: #fff;
}
.example__type-btn:hover {
  background-color: #C4C4C4;
}
.example__type-btn.active {
  background-color: #2D4872;
  color: #fff;
}
.example__area {
  text-align: center;
  margin-bottom: 20px;
}
.example__label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}
.example__label:not(:last-child) {
  margin-right: 30px;
}
.example__input {
  position: relative;
  margin-right: 5px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #F2F2F2;
  transition: border-color 0.3s;
  border: 2px solid #C4C4C4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: bottom;
  cursor: pointer;
}
.example__input::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2D4872;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}
.example__input:checked {
  border-color: #2D4872;
}
.example__input:checked::after {
  transform: translate(-50%, -50%) scale(1);
}
.example__input:checked + span {
  color: #2D4872;
  font-weight: 700;
}
.example__content {
  margin-bottom: 30px;
  display: flex;
  position: relative;
}
.example__sliders {
  flex: 0 1 67%;
  position: relative;
  min-width: 0;
  display: flex;
  gap: 20px;
}
.example__slider-big {
  flex: 0 1 82%;
  width: 82%;
}
.example__items {
  flex: 0 1 34%;
  padding: 35px 70px 10px 80px;
  margin-left: -8px;
  background-color: #fff;
  border-end-end-radius: 8px;
  border-top-right-radius: 8px;
}
.example__item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 6px;
}
.example__index {
  position: relative;
}
.example__index_price::before {
  content: url("../img/example/dollar.svg");
}
.example__index_area::before {
  content: url("../img/example/grid.svg");
}
.example__index_time::before {
  content: url("../img/example/time.svg");
}
.example__index_room::before {
  content: url("../img/example/home.svg");
}
.example__index_address::before {
  content: url("../img/example/map.svg");
}
.example__index_list::before {
  content: url("../img/example/text.svg");
}
.example__index::before {
  position: absolute;
  left: -20px;
}
.example__name {
  font-weight: 700;
}
.example__list {
  padding-left: 10px;
}
.example__link {
  position: relative;
  line-height: 1.5;
}
.example__link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #171616;
}
.example__btn {
  margin: 0 auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px;
  color: #595959;
}

.slider-big__slader {
  height: 405px;
}
.slider-big__slide {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.slider-big__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.slider-big__next {
  right: -40px;
}
.slider-big__prev {
  left: -40px;
}

.slider-small__slader {
  width: 120px;
  height: 405px;
}
.slider-small__slide {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid transparent;
}
.slider-small__slide:hover {
  cursor: pointer;
}
.slider-small__slide.swiper-slide-thumb-active {
  border-color: #595959;
}
.slider-small__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.action {
  padding: 60px 0px;
}
.action__title {
  margin-bottom: 45px;
}
.action__slider {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.action__slade {
  position: relative;
  flex: 0 1 33%;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.action__slade::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 210px;
  bottom: 45px;
  right: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  z-index: -1;
}
.action__bg {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.action__subtitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}
.action__text {
  max-width: 275px;
  margin-bottom: 25px;
  text-align: center;
}
.action__btn {
  margin-bottom: 15px;
}
.action__button {
  margin: 24px auto 0;
}

.about {
  margin-bottom: 60px;
}
.about__title {
  margin-bottom: 12px;
}
.about__text {
  max-width: 770px;
  margin: 0 auto 70px;
}
.about__items {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.about__item {
  flex: 0 1 15%;
  text-align: center;
  position: relative;
  padding-bottom: 30px;
}
.about__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  left: 0;
  background-color: #F2F2F2;
}
.about__item:first-child::before {
  border-radius: 3px;
  left: 10px;
}
.about__item:last-child::before {
  border-radius: 3px;
  left: -10px;
}
.about__item::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: 2px solid #fff;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.about__icon {
  height: 70px;
  width: 70px;
  margin-bottom: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
.about__icon::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #6CAC3D;
  z-index: -1;
}
.about__icon_b::after {
  bottom: -5px;
  left: 25px;
}
.about__icon_br::after {
  bottom: 10px;
  right: 10px;
}
.about__icon_tr::after {
  top: 0px;
  right: 0px;
}
.about__icon_t::after {
  top: 0px;
  right: 22px;
}
.about__icon_c::after {
  top: 22px;
  right: 16px;
}
.about__img {
  display: inline-block;
}
.about__item-text {
  max-width: 120px;
}

@media (max-width: 1050px) {
  .header__logo {
    margin-right: 0;
  }
  .header__call {
    margin-left: 0;
  }
  .header__socials {
    display: flex;
    gap: 15px;
  }
  .header__social-icon {
    scale: 1;
    transition: scale 0.3s;
  }
  .header__social-icon:hover {
    scale: 1.1;
  }
  .header__button {
    margin-left: 0;
  }
  .header__body {
    display: block;
    max-height: 90px;
    padding: 23px 0;
    border-bottom: 1px solid #6CAC3D;
  }
  .header__menu {
    max-width: 100%;
  }
  .example__content {
    padding: 30px 35px;
    background-color: #fff;
    border-radius: 8px;
  }
  .example__sliders {
    flex-direction: column-reverse;
    gap: 10px;
    flex: 1 1 50%;
  }
  .example__slider-big {
    width: 100%;
  }
  .example__items {
    flex: 1 1 50%;
    margin-left: 0;
    padding: 0px 40px 0px 60px;
  }
  .slider-big__slader {
    height: 260px;
    border-radius: 6px;
  }
  .slider-big__prev {
    left: 0px;
  }
  .slider-big__next {
    right: 0px;
  }
  .slider-small__slader {
    width: auto;
    height: 50px;
  }
}
@media (max-width: 900px) {
  .calculator__wrapper {
    flex-direction: column;
  }
  .calculator__img {
    height: 60%;
  }
  .calculator__content-title {
    font-size: clamp(34px, 6vw, 60px);
    padding-top: 20px;
    margin-bottom: 15px;
  }
  .calculator__items {
    grid-template-columns: repeat(2, minmax(155px, 200px));
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .calculator__item-text {
    font-size: 16px;
  }
  .calculator__form {
    padding: 40px 25px;
    opacity: 1;
  }
  .calculator__form-items {
    grid-template-columns: minmax(270px, 60%) minmax(160px, 40%);
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .calculator__order-1 {
    order: 0;
  }
  .calculator__order-2 {
    order: 3;
    border-bottom: none;
  }
  .calculator__order-3 {
    order: 2;
  }
  .calculator__order-4 {
    order: 4;
  }
  .calculator__form-range {
    flex: 1 1 50%;
  }
  .calculator__form-content {
    margin: 0 -25px 20px;
    padding: 20px 25px;
  }
  .calculator__form-tel {
    max-width: 100%;
  }
  .calculator__form-btn {
    max-width: 250px;
  }
  .about__items {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 480px;
    row-gap: 50px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .about__item {
    display: flex;
    align-items: center;
    padding-bottom: 0;
    padding-left: 38px;
  }
  .about__item::before {
    content: "";
    position: absolute;
    height: 120px;
    width: 6px;
    bottom: 0;
    left: 8px;
    background-color: #F2F2F2;
  }
  .about__item:first-child::before {
    height: 70px;
    border-radius: 3px;
    left: 8px;
  }
  .about__item:last-child::before {
    border-radius: 3px;
    left: 8px;
  }
  .about__item:nth-child(4)::before {
    height: 125px;
    border-radius: 3px;
  }
  .about__item:nth-child(5)::before {
    height: 75px;
    border-radius: 3px;
    bottom: -5px;
  }
  .about__item::after {
    content: "";
    bottom: 50%;
    left: -2px;
    transform: translateY(50%);
    z-index: 1;
  }
  .about__item-text {
    text-align: start;
    margin-left: 25px;
  }
  .about__icon {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 60px;
  }
  .header {
    margin-bottom: 10px;
  }
  .header__top {
    padding: 10px 0;
  }
  .header__phone {
    font-size: 15px;
  }
  .header__call {
    min-width: 155px;
  }
  .header__timing {
    font-size: 12px;
  }
  .header__button {
    max-width: 130px;
  }
  .header__body {
    padding: 17px 0;
  }
  .header__filter {
    padding: 7px 0;
    font-size: 14px;
  }
  .header__filter-title {
    width: 80px;
    font-size: 14px;
  }
  .header__filter-title_icon.open::after {
    top: 12px;
  }
  .header__filter-items {
    min-width: 180px;
  }
  .header__filter-item {
    height: 35px;
  }
  .header__filter-item a {
    margin-left: 10px;
  }
  .calculator {
    margin-bottom: 35px;
  }
  .price__inner {
    margin: 0 -50px;
  }
  .example {
    padding: 40px 0 40px;
  }
  .example__title {
    margin-bottom: 35px;
  }
  .example__type {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .example__type-btn {
    width: -moz-max-content;
    width: max-content;
    padding: 10px 15px;
  }
  .example__label:not(:last-child) {
    margin-right: 10px;
  }
  .example__content {
    margin-left: -40px;
    margin-right: -40px;
  }
  .example__items {
    padding: 0px 10px 0px 50px;
  }
  .action__slider {
    overflow-x: auto;
  }
  .action__slade {
    height: 320px;
    flex: 0 0 255px;
  }
}
@media (max-width: 650px) {
  .container {
    padding: 0 15px;
  }
  .header {
    margin-bottom: 0;
  }
  .header__socials {
    display: none;
  }
  .header__call-btn {
    display: block;
    width: 60px;
    height: 40px;
    border-radius: 3px;
    background-color: #6CAC3D;
    position: relative;
    cursor: pointer;
  }
  .header__call-btn::after {
    content: url("../img/icons/call-white.svg");
    position: absolute;
    top: 10px;
    left: 18px;
    scale: 1;
    transition: scale 0.3s;
  }
  .header__call-btn:hover::after {
    scale: 1.1;
  }
  .header__top {
    border-bottom: none;
    position: relative;
    max-height: 120px;
    padding: 50px 0;
  }
  .header__mobile-btn {
    position: relative;
    width: 35px;
    height: 20px;
    display: flex;
    cursor: pointer;
  }
  .header__mobile-btn:hover::after {
    bottom: -1px;
  }
  .header__mobile-btn:hover::before {
    top: -1px;
  }
  .header__mobile-btn::after, .header__mobile-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background-color: #2D4872;
    top: 0;
    left: 0;
  }
  .header__mobile-btn::after {
    top: auto;
    bottom: 0;
  }
  .header__mobile-btn span {
    width: 100%;
    height: 4px;
    border-radius: 1px;
    background-color: #2D4872;
    margin: auto 0;
  }
  .header__mobile-menu {
    position: fixed;
    top: 120px;
    right: 0;
    height: calc(100vh - 120px);
    width: 80%;
    padding: 45px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(190, 190, 190, 0.5);
    overflow-y: auto;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 2;
  }
  .header__mobile-menu.active {
    opacity: 1;
    transform: translateX(0%);
  }
  .header__mobile-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 124px;
    right: 81%;
    display: block;
    pointer-events: none;
    background-color: transparent;
    opacity: 0;
    transform: translateX(1000%);
    transition: scale 0.3s, opacity 0.3s, transform 0.3s;
    scale: 1;
  }
  .header__mobile-close:hover::after, .header__mobile-close:hover::before {
    transition: scale 0.3s;
    scale: 1.1;
  }
  .header__mobile-close.active {
    pointer-events: auto;
    transform: translateX(0%);
    opacity: 1;
    z-index: 2;
  }
  .header__mobile-close::after, .header__mobile-close::before {
    content: "";
    position: relative;
    left: 0;
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    transition: background-color 0.3s;
  }
  .header__mobile-close::after {
    transform: rotate(45deg);
  }
  .header__mobile-close::before {
    top: 2px;
    transform: rotate(-45deg);
  }
  .header__phone {
    font-size: 18px;
  }
  .header__timing {
    font-size: 14px;
  }
  .header__list {
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: auto;
  }
  .header__link {
    margin-right: auto;
  }
  .header__button {
    order: 0;
    width: 100%;
    max-width: 100%;
  }
  .header__button_green {
    margin-bottom: 10px;
    background-color: #6CAC3D;
    color: #fff;
  }
  .header__button_green:hover {
    background-color: #558433;
  }
  .header__filter {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    max-height: 500px;
    padding: 35px 0 30px;
    border-bottom: none;
    position: relative;
  }
  .header__filter-block {
    position: static;
    max-height: 600px;
    width: 100%;
  }
  .header__filter-title {
    width: 100%;
    padding-left: 30px;
    font-size: 16px;
  }
  .header__filter-title.open {
    margin-bottom: 15px;
  }
  .header__filter-title_icon.open::after {
    top: 2px;
  }
  .header__filter-title_icon::after {
    left: 0;
  }
  .header__filter-items {
    position: static;
    max-width: 210px;
    transition: max-height 0s;
  }
  .header__filter-item {
    height: 30px;
  }
  .header__body {
    order: 2;
    max-height: 300px;
    border-bottom: none;
  }
  .header__call {
    order: 3;
    text-align: center;
    margin: 0 auto;
  }
  .price__inner {
    margin: 0 -10px;
  }
  .example__type {
    justify-content: center;
  }
  .example__content {
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    background-color: #f8f8f8;
  }
  .example__items {
    padding: 20px 60px;
    border-radius: 8px;
  }
  .example__sliders {
    flex-direction: row;
  }
  .example__slider-big {
    width: 75%;
  }
  .example__slider-small {
    width: 25%;
  }
  .example__name {
    width: 60%;
  }
  .slider-big__next, .slider-big__prev {
    display: none;
  }
  .slider-small__slader {
    height: 260px;
  }
}
@media (max-width: 550px) {
  .calculator {
    margin-bottom: 25px;
  }
  .calculator::after {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgb(255, 255, 255));
  }
  .calculator__form {
    margin-left: -7px;
    margin-right: -7px;
    padding: 30px 15px;
  }
  .calculator__form-items {
    grid-template-columns: auto;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .calculator__order-2 {
    order: 2;
  }
  .calculator__order-3 {
    order: 3;
  }
  .calculator__form-content {
    margin: 0 -15px 20px;
    padding: 20px 15px;
  }
  .calculator__form-box {
    flex-direction: column;
    gap: 10px;
  }
  .calculator__form-btn {
    max-width: 100%;
    margin-left: 0;
  }
  .about__text {
    margin-bottom: 40px;
  }
  .about__items {
    max-height: 1000px;
    padding-left: 50px;
  }
  .about__item:nth-child(5)::before {
    height: 125px;
    border-radius: 0px;
    bottom: 0px;
  }
  .about__item:last-child::before {
    height: 130px;
    bottom: -30px;
  }
  .about__icon {
    flex: 0 0 50px;
    height: 50px;
  }
  .about__icon::after {
    width: 15px;
    height: 15px;
  }
  .about__img {
    width: 50px;
  }
  .about__img_control {
    width: 40px;
  }
  .about__item-text {
    max-width: 400px;
  }
}
@media (max-width: 480px) {
  .example__items {
    padding: 20px 50px;
  }
  .example__name {
    width: 50%;
  }
  .example__btn {
    width: 100%;
  }
  .action {
    padding: 40px 0;
  }
  .action__slade {
    height: 350px;
    flex: 0 0 280px;
  }
  .about__items {
    padding-left: 20px;
  }
}