@media (max-width:1050px) {
  .header {
    &__logo {
      margin-right: 0;
    }

    &__call {
      margin-left: 0;
    }

    &__socials {
      display: flex;
      gap: 15px;
    }

    &__social-icon {
      scale: 1;
      transition: scale 0.3s;

      &:hover {
        scale: 1.1;
      }
    }


    &__button {
      margin-left: 0;
    }

    &__body {
      display: block;
      max-height: 90px;
      padding: 23px 0;
      border-bottom: 1px solid $green;
    }

    &__menu {
      max-width: 100%;
    }

  }

  .example {
    &__content {
      padding: 30px 35px;
      background-color: #fff;
      border-radius: 8px;
    }

    &__sliders {
      flex-direction: column-reverse;
      gap: 10px;
      flex: 1 1 50%;
    }

    &__slider-big {
      width: 100%;
    }

    &__items {
      flex: 1 1 50%;
      margin-left: 0;
      padding: 0px 40px 0px 60px;
    }
  }

  .slider-big {
    &__slader {
      height: 260px;
      border-radius: 6px;
    }

    &__prev {
      left: 0px;
    }

    &__next {
      right: 0px;
    }
  }

  .slider-small {
    &__slader {
      width: auto;
      height: 50px;
    }
  }

}

@media (max-width:900px) {
  .calculator {
    &__wrapper {
      flex-direction: column;
    }

    &__img {
      height: 60%;
    }

    &__content-title {
      font-size: clamp(34px, 6vw, 60px);
      padding-top: 20px;
      margin-bottom: 15px;
    }

    &__items {
      grid-template-columns: repeat(2, minmax(155px, 200px));
      column-gap: 5px;
    }

    &__item-text {
      font-size: 16px;
    }

    &__form {
      padding: 40px 25px;
      opacity: 1;
    }

    &__form-items {
      grid-template-columns: (minmax(270px, 60%) minmax(160px, 40%));
      column-gap: 20px;
    }

    &__order-1 {
      order: 0;
    }

    &__order-2 {
      order: 3;
      border-bottom: none;
    }

    &__order-3 {
      order: 2;
    }

    &__order-4 {
      order: 4;
    }

    &__form-range {
      flex: 1 1 50%;
    }

    &__form-content {
      margin: 0 -25px 20px;
      padding: 20px 25px;
    }

    &__form-tel {
      max-width: 100%;
    }

    &__form-btn {
      max-width: 250px;
    }
  }

  .about {
    &__items {
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 480px;
      row-gap: 50px;
      column-gap: 10px;
    }

    &__item {
      display: flex;
      align-items: center;
      padding-bottom: 0;
      padding-left: 38px;

      &::before {
        content: '';
        position: absolute;
        height: 120px;
        width: 6px;
        bottom: 0;
        left: 8px;
        background-color: $grayLight;
      }

      &:first-child::before {
        height: 70px;
        border-radius: 3px;
        left: 8px;
      }

      &:last-child::before {
        border-radius: 3px;
        left: 8px;
      }

      &:nth-child(4)::before {
        height: 125px;
        border-radius: 3px;
      }

      &:nth-child(5)::before {
        height: 75px;
        border-radius: 3px;
        bottom: -5px;
      }

      &::after {
        content: '';
        bottom: 50%;
        left: -2px;
        transform: translateY(50%);
        z-index: 1;
      }
    }

    &__item-text {
      text-align: start;
      margin-left: 25px;
    }

    &__icon {
      margin-bottom: 0;
    }
  }

  .store {
    &__items {
      padding: 35px;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
      column-gap: 20px;
      row-gap: 30px;
    }

    &__item {
      display: grid;
      grid-template-columns: 50px auto;
      gap: 10px;
      align-items: start;

      &.one {
        order: 1;
      }

      &.two {
        order: 4;
      }

      &.three {
        order: 2;
      }

      &.four {
        order: 3;
        grid-row: span 2;
      }

      &.five {
        order: 5;
      }
    }

    &__icon {
      width: 46px;
    }
  }
}

@media (max-width:768px) {
  .container {
    padding: 0 60px;
  }

  .header {
    margin-bottom: 10px;

    &__top {
      padding: 10px 0;
    }

    &__phone {
      font-size: 15px;
    }

    &__call {
      min-width: 155px;
    }

    &__timing {
      font-size: 12px;
    }

    &__button {
      max-width: 130px;
    }

    &__body {
      padding: 17px 0;
    }

    &__filter {
      padding: 7px 0;
      font-size: 14px;
    }

    &__filter-title {
      width: 80px;
      font-size: 14px;

      &_icon {
        &.open::after {
          top: 12px;
        }
      }
    }

    &__filter-items {
      min-width: 180px;
    }

    &__filter-item {
      height: 35px;

      a {
        margin-left: 10px;
      }
    }
  }

  .calculator {
    margin-bottom: 35px;
  }

  .price {
    &__inner {
      margin: 0 -50px;
    }
  }

  .example {
    padding-block: 40px;

    &__title {
      margin-bottom: 35px;
    }

    &__type {
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__type-btn {
      width: max-content;
      padding: 10px 15px;
    }

    &__label {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__content {
      margin-left: -40px;
      margin-right: -40px;
    }

    &__items {
      padding: 0px 10px 0px 50px;
    }
  }

  .action {
    &__slider {
      overflow-x: auto;
    }

    &__slade {
      height: 320px;
      flex: 0 0 255px;
    }
  }

  .store {
    &__items {
      padding: 30px;
      margin-inline: -35px;
      grid-template-columns: 30% 36% 30%;
      column-gap: 2%;
      row-gap: 20px;
    }

    &__item {
      grid-template-columns: 30px auto;
    }

    &__icon {
      width: 30px;
      &::after {
        width: 12px;
        height: 12px;
      }
    }

    &__img {
      width: 100%;
    }
    &__bg {
      padding-bottom: 50%;
    }
  }
}

@media (max-width:650px) {
  .container {
    padding: 0 15px;
  }

  .header {
    margin-bottom: 0;

    &__socials {
      display: none;
    }

    &__call-btn {
      display: block;
      width: 60px;
      height: 40px;
      border-radius: 3px;
      background-color: $green;
      position: relative;
      cursor: pointer;

      &::after {
        content: url('../img/icons/call-white.svg');
        position: absolute;
        top: 10px;
        left: 18px;
        scale: 1;
        transition: scale 0.3s;
      }

      &:hover {
        &::after {
          scale: 1.1;
        }
      }
    }

    &__top {
      border-bottom: none;
      position: relative;
      max-height: 120px;
      padding: 50px 0;
    }

    &__mobile-btn {
      position: relative;
      width: 35px;
      height: 20px;
      display: flex;
      cursor: pointer;

      &:hover {
        &::after {
          bottom: -1px;
        }

        &::before {
          top: -1px;
        }
      }

      &::after,
      &::before {
        content: ('');
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 1px;
        background-color: $blueDark;
        top: 0;
        left: 0;
      }

      &::after {
        top: auto;
        bottom: 0;
      }

      span {
        width: 100%;
        height: 4px;
        border-radius: 1px;
        background-color: $blueDark;
        margin: auto 0;
      }
    }

    &__mobile-menu {
      position: fixed;
      top: 120px;
      right: 0;
      height: calc(100vh - 120px);
      width: 80%;
      padding: 45px 20px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 10px 0 rgba(190, 190, 190, 0.5);
      overflow-y: auto;
      opacity: 0;
      transform: translateX(100%);
      transition: opacity 0.3s, transform 0.3s;
      z-index: 2;

      &.active {
        opacity: 1;
        transform: translateX(0%);
      }
    }

    &__mobile-close {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 124px;
      right: 81%;
      display: block;
      pointer-events: none;
      background-color: transparent;
      opacity: 0;
      transform: translateX(1000%);
      transition: scale 0.3s, opacity 0.3s, transform 0.3s;
      scale: 1;

      &:hover {

        &::after,
        &::before {
          transition: scale 0.3s;
          scale: 1.1;
        }
      }

      &.active {
        pointer-events: auto;
        transform: translateX(0%);
        opacity: 1;
        z-index: 2;
      }

      &::after,
      &::before {
        content: ('');
        position: relative;
        left: 0;
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
        transition: background-color 0.3s;
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        top: 2px;
        transform: rotate(-45deg);
      }
    }

    &__phone {
      font-size: 18px;
    }

    &__timing {
      font-size: 14px;
    }

    &__list {
      flex-direction: column;
      gap: 20px;
      margin-left: 30px;
      margin-bottom: 30px;
      width: auto;
    }

    &__link {
      margin-right: auto;
    }

    &__button {
      order: 0;
      width: 100%;
      max-width: 100%;

      &_green {
        margin-bottom: 10px;
        background-color: $green;
        color: #fff;

        &:hover {
          background-color: $greenHover;
        }
      }

    }

    &__filter {
      order: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
      max-height: 500px;
      padding: 35px 0 30px;
      border-bottom: none;
      position: relative;
    }

    &__filter-block {
      position: static;
      max-height: 600px;
      width: 100%;
    }

    &__filter-title {
      width: 100%;
      padding-left: 30px;
      font-size: 16px;

      &.open {
        margin-bottom: 15px;
      }

      &_icon {
        &.open::after {
          top: 2px;
        }

        &::after {
          left: 0;
        }
      }
    }

    &__filter-items {
      position: static;
      max-width: 210px;
      transition: max-height 0s;
    }

    &__filter-item {
      height: 30px;
    }

    &__body {
      order: 2;
      max-height: 300px;
      border-bottom: none;
    }


    &__call {
      order: 3;
      text-align: center;
      margin: 0 auto;
    }
  }

  .price {
    &__inner {
      margin: 0 -10px;
    }
  }

  .example {
    &__type {
      justify-content: center;
    }

    &__content {
      margin-left: 0px;
      margin-right: 0px;
      flex-direction: column;
      gap: 30px;
      padding: 0;
      background-color: #f8f8f8;
    }

    &__items {
      padding: 20px 60px;
      border-radius: 8px;
    }

    &__sliders {
      flex-direction: row;
    }

    &__slider-big {
      width: 75%;
    }

    &__slider-small {
      width: 25%;
    }

    &__name {
      width: 60%;
    }
  }

  .slider-big {

    &__next,
    &__prev {
      display: none;
    }
  }

  .slider-small {
    &__slader {
      height: 260px;
    }
  }

  .store {
    &__items {
      margin-inline: 0;
      grid-template-columns: auto;
    }

    &__item {
      gap: 20px;
      &.one {
        order: 1;
      }

      &.two {
        order: 2;
      }

      &.three {
        order: 3;
      }

      &.four {
        order: 5;
      }

      &.five {
        order: 4;
      }
    }
  }
}

@media(max-width:550px) {
  .calculator {
    margin-bottom: 25px;

    &::after {
      background: linear-gradient(to left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1));
    }

    &__form {
      margin-left: -7px;
      margin-right: -7px;
      padding: 30px 15px
    }

    &__form-items {
      grid-template-columns: auto;
      column-gap: 0px;
    }

    &__order-2 {
      order: 2;
    }

    &__order-3 {
      order: 3;
    }

    &__form-content {
      margin: 0 -15px 20px;
      padding: 20px 15px;
    }

    &__form-box {
      flex-direction: column;
      gap: 10px;
    }

    &__form-btn {
      max-width: 100%;
      margin-left: 0;
    }
  }

  .about {
    &__text {
      margin-bottom: 40px;
    }

    &__items {
      max-height: 1000px;
      padding-left: 50px;
    }

    &__item {
      &:nth-child(5)::before {
        height: 125px;
        border-radius: 0px;
        bottom: 0px;
      }

      &:last-child::before {
        height: 130px;
        bottom: -30px;
      }
    }

    &__icon {
      flex: 0 0 50px;
      height: 50px;

      &::after {
        width: 15px;
        height: 15px;
      }
    }

    &__img {
      width: 50px;

      &_control {
        width: 40px;
      }
    }

    &__item-text {
      max-width: 400px;
    }
  }

}

@media(max-width:480px) {

  .example {
    &__items {
      padding: 20px 50px;
    }

    &__name {
      width: 50%;
    }

    &__btn {
      width: 100%;
    }
  }

  .action {
    padding: 40px 0;

    &__slade {
      height: 350px;
      flex: 0 0 280px;
    }
  }

  .about {
    &__items {
      padding-left: 20px;
    }
  }
}